<p>
  upload works!
</p>
<br>
<div class="col-md-8">
<form>
  <div class="uploader">
    <input name="file" type="file" (change)="detectFiles($event)" >
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-success" (click)="Validate()">Validar Archivo</button>
  </div>
</form>
</div>
<!--<div class="col-md-8">
  <div class="uploader" >

    <input name="file" type="file" (change)="detectFiles($event)" )>
  </div>
  <div class="text-center">
      <button type="button" class="btn btn-success" (click)="Validate()">Validar Archivo</button>
  </div>
</div>-->
