.text-center{
  text-align: center;

}

.inputText {

  margin-left:23%;
  border-radius:5px;

}
.boton{
  border-radius: 5px;
  background-color: #10a8cc;
  padding: 5px 10px;
  color: white;
  margin-top:15px;
}
