<p>Validar RDF </p>
<!--<textarea rows="20" cols="70" name="text" id="textInput" (change)="detectText()" > </textarea>-->
<textarea rows="20" cols="70" [(ngModel)]="currentQuery" (change)="detectText()" ></textarea>
<br>
<button type="button" class="btn btn-success" (click)="Validate()" >Validate!</button>

<!-- Catalog -->

<div id='WrongVocabulary' #acc> </div>
<div id='ErrorParse' #abc> </div>
<div id='ExisteCatalog' #ctl> </div>
<div id='ErrorParseCatalog' #abd> </div>
<div id='ErrorDefinicionCatalog' #aca> </div>
<div id='warningRecomendedCatalog' style="color:#f38708" #abe> </div>

<!-- Dataset -->
<div id='ExisteDataset' #ctt> </div>
<div id='ErrorParseDataset' #abf> </div>
<div id='ErrorDefinicionDataset' #acb> </div>
<div id='warningRecomendedDataset' style="color:#f38708" #abg> </div>

<!-- Organization-->
<div id='ExisteOrganization' #ctf> </div>
<div id='ErrorParseOrganization' #abh> </div>
<div id='warningRecomendedOrganization' style="color:#f38708" #abi> </div>
